body{
    background-color: rgb(175, 216, 141);
}
.container{
    max-width: 800px;
    text-align: center;
    margin: auto;
}

.imgred{
    width:300px;
    height:300px;
    border-radius:150px;
}

h1{
    color: red;
}
h2{
    color: brown;
}

.parrafo{
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blue;
}

.pe{
    width:3px;
    height:3px;
}

footer{
    background-color: antiquewhite;
    font-size: 20px;

}

img{
    width: 50px;
}

.spanuso{
    color: azure;
}

.boton{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: orange;
}
.menu{
    color: red;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#botonbuscar{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    background-color: blueviolet;
}