.header {
    background-color: #1e00ff; 
    color: white; 
    padding: 20px;
}


.header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.header nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.productos {
    flex: 2;
    margin-right: 20px;
}

.producto {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
}

h2{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.producto img {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 15px;
}

aside {
    flex: 1;
    margin-left: 20px;
}

.info-adicional {
    background-color: #38b8c9; 
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.info-adicional img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.contacto {
    border: 1px solid #ccc;
    padding: 15px;
}

.contacto h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contacto form {
    display: flex;
    flex-direction: column;
}

.contacto label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contacto input, .contacto textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contacto button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contacto button:hover {
    background-color: #45a049;
}

footer {
    background-color: #0a58ca;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.footer-section h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}

.footer-section a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}
